<%= render 'shared/page_title', title: "Chef List" %>

<% @chefs.each do |chef| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
      <%= link_to gravatar_for(chef, size: 100), chef_path(chef) %>
      </section>
    </div>
    <div class="col-md-6 well">
      <h4><%= link_to chef.name, chef_path(chef) %></h4>
    </div>
  </div>
  <hr/>
<% end %>
